@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slick-dots {
  z-index: 1000;
  display: block !important;
  overflow: initial;
  position: absolute;
  bottom: 0;
  margin-bottom: 45px;
  font-size: 20px;
  
}
.slick-dots li {
  margin: 0 10px;
}

.slick-dots li button:before {
  color: #fff;
  font-size: 20px;
}

.slick-dots li.slick-active button:before {
  color: #F4C501;
}

.slick-dots li button {
  outline: none;
  border: none;
  background: transparent;
}

.slick-dots li button:focus,
.slick-dots li button:active {
  outline: none !important;
  box-shadow: none !important;
}